---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path "images/woods.jpg" %> );">
    <div class="banner-content">
      <h1>Welcome home</h1>
      <p>Book unique homes and experience a city like a local</p>
      <form action="#" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Where?">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="When?">
        </div>
        <div class="form-group">
          <select id="guests" class="form-control">
            <option value="one">1 Guest</option>
            <option value="two">2 Guests</option>
            <option value="three">3 Guests</option>
          </select>
        </div>
        <input type="submit" value="Search" class="btn btn-success">
      </form>
    </div>
  </div>

  <div class="cards-container">
    <div class="container">
      <h2 class="text-center">Recent flats</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "images/red-house.jpg" %>);">
            <div class="card-category">Pacific Northwest</div>
            <div class="card-description">
              <h2>Portland, Oregon</h2>
              <p>Very cool city, the best</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= image_path "images/yellow-house.jpg" %>);">
          <div class="card-category">Pacific Northwest</div>
          <div class="card-description">
            <h2>Seattle, Washington</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon Shanghai</h2>
            <p>Very cool city, the best</p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
